@font-face {
    font-family: '8bitOperatorPlus-Bold';
    src: url(../fonts/8bitOperatorPlus-Bold.woff);
    font-weight: bold;
}
@font-face {
    font-family: '8bitOperatorPlus-Regular';
    src: url(../fonts/8bitOperatorPlus-Regular.woff);
}

body {
  background-color:#302b2b;
}

.name:hover {
  color:#f1f1f1;
}

.home:hover {
  color:#f1f1f1;
}

.download:hover {
  color:#f1f1f1;
}

.name {
  margin-left: 0%;
  font-size: 1.7vw;
}

.home {
  margin-left: 10%;
  font-size: 1.7vw;
}

.download {
  margin-left: 15%;
  font-size: 1.7vw;
}

.header {
  padding: 10px 16px;
  background:#494949;
  color: #868686;
  font-family:'8bitOperatorPlus-Bold',monospace;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: flex;
}

.scrolltexttosee {
  font-family:'8bitOperatorPlus-Regular',monospace;
  font-size: 1vw;
  color:#f1f1f1;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}